body {
    text-align: center;
    color: var(black);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(black);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}